WMS/Scheduler.WCF.Client/Connected Services/Proxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ferretto.Common.BusinessModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ferretto.Common.BusinessModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Design_Time_Addresses/CalculatorService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Prism.Mvvm" />
  <xs:complexType name="ArrayOfMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Machine" nillable="true" type="tns:Machine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachine" nillable="true" type="tns:ArrayOfMachine" />
  <xs:complexType name="Machine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualWeight" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AisleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AutomaticTime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BuildDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CradlesCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorTime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InputLoadingUnitsCount" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InstallationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastPowerOn" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastServiceDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="LoadingUnitsPerCradle" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="MachineTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManualTime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="MissionTime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MovedLoadingUnitsCount" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="NextServiceDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutputLoadingUnitsCount" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="PowerOnTime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TotalMaxWeight" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Machine" nillable="true" type="tns:Machine" />
  <xs:complexType name="BusinessObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Prism.Mvvm" base="q1:BindableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessObject" nillable="true" type="tns:BusinessObject" />
</xs:schema>