WMS/Scheduler.WCF.Client/Connected Services/Proxy/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ferrettogroup.com/wms/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ferrettogroup.com/wms/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ferrettogroup.com/wms/Imports">
      <xsd:import schemaLocation="http://localhost:8000/Design_Time_Addresses/MachineService/?xsd=xsd0" namespace="http://www.ferrettogroup.com/wms/" />
      <xsd:import schemaLocation="http://localhost:8000/Design_Time_Addresses/MachineService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/Design_Time_Addresses/MachineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ferretto.Common.BusinessModels" />
      <xsd:import schemaLocation="http://localhost:8000/Design_Time_Addresses/MachineService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Prism.Mvvm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachine_CompleteMission_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteMission" />
  </wsdl:message>
  <wsdl:message name="IMachine_CompleteMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteMissionResponse" />
  </wsdl:message>
  <wsdl:message name="IMachine_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IMachine_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMachine_WakeUpClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:WakeUpClients" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMachine">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CompleteMission">
      <wsdl:input wsaw:Action="http://www.ferrettogroup.com/wms/IMachine/CompleteMission" message="tns:IMachine_CompleteMission_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ferrettogroup.com/wms/IMachine/CompleteMissionResponse" message="tns:IMachine_CompleteMission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAll">
      <wsdl:input wsaw:Action="http://www.ferrettogroup.com/wms/IMachine/GetAll" message="tns:IMachine_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ferrettogroup.com/wms/IMachine/GetAllResponse" message="tns:IMachine_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WakeUpClients">
      <wsdl:output wsaw:Action="http://www.ferrettogroup.com/wms/IMachine/WakeUpClients" message="tns:IMachine_WakeUpClients_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>