WMS/Scheduler.WCF.Client/Connected Services/Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ferrettogroup.com/wms/" elementFormDefault="qualified" targetNamespace="http://www.ferrettogroup.com/wms/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Design_Time_Addresses/CalculatorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ferretto.Common.BusinessModels" />
  <xs:element name="CompleteMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:double" />
        <xs:element minOccurs="0" name="n2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteMissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompleteMissionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ferretto.Common.BusinessModels" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfMachine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>